.footer__container {
  padding: 100px 40px;
  background: var(--gray-700);
  position: relative;
  height: 80vh;
  line-height: 1;
  width: 100%;
  margin-top: 120px;
}

.footer__description {
  display: flex;
  justify-content: space-between;
}

.footer__button {
  border-radius: 25px;
  padding: 1rem 2rem;
  background-color: var(--secondary);
  color: var(--gray-900);
  border: none;
  margin-top: 40px;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
}

.container__left {
  line-height: 1.4;
  color: var(--gray-100);
}

.text__left {
  margin: 18px;
}

.heading__left {
  font-weight: 900;
  font-size: 80px;
  margin-left: 25px;
}

.container__right {
  line-height: 1.4;
  color: var(--gray-100);
}

.text__right {
  font-size: 18px;
}

.heading__right {
  font-weight: 800;
  font-size: 60px;
}

.footer__image {
  position: absolute;
  top: -35%;
  left: 8%;
  top: -25%;
  left: 25%;
}

@media screen and (max-width: 800px) {
  .footer__container {
    height: 560px;
    margin-top: 80px;
  }

  .footer__description {
    flex-wrap: wrap;
    gap: 20px;
  }

  .footer__image {
    width: 77%;
    left: 30%;
    top: 6%;
    height: 56%;
  }

  .heading__left {
    font-weight: 900;
    font-size: 50px;
    margin-left: 5px;
  }

  .text__left {
    margin: 18px;
  }

  .heading__right {
    font-size: 45px;
  }

  .text__right {
    font-size: 18px;
  }
}
