.footer__container {
  padding: 80px 40px;
  background: var(--gray-700);
  position: relative;
  height: 80vh;
  line-height: 1;
  width: 100%;
  margin: 120px auto 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__description {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  text-align: center;
  width: min(80%, 1400px);
}

.container__right,
.container__left {
  line-height: 1.4;
}

.highlight {
  background-color: rgb(215, 63, 63);
  display: inline-block;
  padding: 1rem 3rem;
}

.thin {
  font-weight: 100;
  font-size: 3rem;
  color: var(--gray-100);
}
.heading {
  font-weight: 900;
  font-size: 3rem;
  color: var(--gray-100);
}

.light {
  color: var(--primary);
}

.footer__button {
  border-radius: 25px;
  border: 2px solid var(--secondary);
  padding: 0.8rem 1.6rem;
  background-color: var(--secondary);
  color: white;
  margin-top: 40px;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  z-index: 10000 !important;
  pointer-events: fill;
  transition: all 250ms ease-in;
  text-transform: uppercase;
}

.footer__button:hover {
  background: transparent;
}

.container__right {
  display: none;
}

.image__wrapper {
  position: relative;
}

.footer__image {
  position: absolute;
  height: 80vh;
  width: 300px;
  object-fit: contain;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0.3;
}

@media screen and (min-width: 800px) {
  .container__left {
    text-align: left;
  }
  .container__right {
    display: block;
    text-align: right;
  }

  .footer__image {
    opacity: 1;
  }

  .buttons {
    position: absolute;
    bottom: 20%;
  }
}
