.hero__container {
  padding: 100px 40px;
  background-color: var(--gray-700);
  position: relative;
  height: 80vh;
  line-height: 0.9;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero__content {
  text-align: center;
}

.text__small {
  font-size: clamp(2rem, 5vw, 4rem);
  color: var(--gray-300);
}

.heading__h3 {
  font-size: clamp(2rem, 5vw, 10rem);
  font-weight: 100;
  margin-top: 4px;
  color: rgb(225, 154, 100);
}
.heading__h1 {
  color: #fff;
  font-size: clamp(5rem, 5vw, 7rem);
  margin-left: -20px;
  text-transform: uppercase;
}

.image__wrapper {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 70vw;
  opacity: 0.2;
}

.hero__image {
  position: relative;
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.hero__button {
  border-radius: 25px;
  border: 2px solid var(--secondary);
  padding: 0.8rem 1.6rem;
  background-color: var(--secondary);
  color: white;
  margin-top: 40px;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  z-index: 10000 !important;
  pointer-events: fill;
  transition: all 250ms ease-in;
  text-transform: uppercase;
}

.hero__button:hover {
  background: transparent;
}

.hero__description {
  text-align: center;
  font-size: 12px;
}

.hero__button {
  margin-bottom: 10px;
}

.notice {
  color: var(--primary);
  font-size: 16px;
}

.text {
  color: var(--gray-300);
  padding-top: 0.5rem;
  font-weight: 100;
  font-size: 16px;
}

@media screen and (min-width: 800px) {
  .image__wrapper {
    width: 60vw;
  }
}

@media screen and (min-width: 1300px) {
  .image__wrapper {
    width: 40vw;
    opacity: 0.7;
    z-index: 0;
  }
  .hero__button {
    margin-bottom: 4rem;
  }
  .hero__content {
    width: min(80%, 1400px);
    margin: 0 auto;
    text-align: left;
  }
  .hero__description {
    width: min(80%, 1400px);
    margin: 0 auto;
    text-align: right;
  }
}
